@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #5c7cfa;
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  .spinner__mini {
    margin: 0;
    width: 18px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid #edf2ff;
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  .spinner__mini.dark {
    margin: 0;
    width: 18px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid #22317c;
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }

  .profile__icon:hover > div {
    border-color: #5c7cfa;
  }

  .sidebar__links:hover > svg {
    stroke: #5c7cfa;
    fill: #c7d2f1;
  }

  .sidebar__links:hover > div > svg {
    stroke: #5c7cfa;
    fill: #c7d2f1;
  }

  .sidebar__links:hover > span {
    color: #384689;
  }

  .sidebar__links:hover > div > span {
    color: #384689;
  }

  .signout__button:hover > svg {
    fill: #c7d2f1;
  }

  .ellipsis__popover {
    top: calc(100% + 0.25rem);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #33383d;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #fdfeff inset !important;
  }

  .announcement__form__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
  }

  .filter__select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    padding-left: 1.75rem;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M7 11h10v2H7zM4 7h16v2H4zm6 8h4v2h-4z" /></svg>')
      no-repeat 0 center;
    background-size: 1.5rem 1.5rem;
  }

  @media (min-width: 768px) {
    .filter__select {
      background-size: 1.75rem 1.75rem;
    }
  }

  .level__select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M8.25 15 12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9" /></svg>')
      no-repeat right 0.8rem center;
    background-size: 1.5rem 1.5rem;
  }

  .confirmation__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .password__input:focus + .show__password {
    border-color: #384689;
  }

  .role.admin {
    background-color: #ebecf0;
    color: #354164;
  }

  .role.teacher {
    background-color: #d3f9d8;
    color: #2f9e44;
  }

  .role.student {
    background-color: #d0ebff;
    color: #1c7ed6;
  }

  .role.guest {
    background-color: #f1f3f5;
    color: #495057;
  }

  .embla {
    width: 100%;
    margin: auto;
    --slide-height: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 100%;
  }
  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
  }
  .embla__slide__number {
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    border-radius: 1.8rem;
    font-size: 4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--slide-height);
    user-select: none;
  }
  .embla__controls {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    gap: 1.2rem;
    margin-top: 1.8rem;
  }
  .embla__buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .embla__button {
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: #bec2cc70;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 1;
    border-radius: 50%;
    color: var(--text-body);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .embla__button:disabled {
    color: var(--detail-high-contrast);
    background-color: #bec2cce5;
  }
  .embla__button__svg {
    width: 35%;
    height: 35%;
  }
  .embla__dots {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
  }
  .embla__dot {
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    width: 2.6rem;
    height: 2.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  .embla__dot:after {
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    content: "";
  }
  .embla__dot--selected:after {
    box-shadow: inset 0 0 0 0.2rem var(--text-body);
  }
  .input__file__label:has(.input__file:disabled) {
    cursor: not-allowed;
  }

  .comment__form:has(.comment__textarea:disabled) {
    cursor: not-allowed;
  }

  .comment__form:has(.comment__textarea:focus) {
    border-color: #384689;
  }
}
